body {
  background-color: black;
  align-items: center;
  display: grid;
  justify-content: center;
}
h1 {
  color: white;
  text-align: center;
}
.panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.key {
  cursor: pointer;
  width: 100px;
  height: 100px;
  font-size: 57px;
  font-weight: bold;
  text-align: center;
}
.key.igual {
  background-color: #8675fa;
  color: white;
  width: 401px;
  margin-top: 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 80px;
}
.allErase:active {
  background-color: #fa5943;
}
.result {
  width: 392px;
  height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 60px;
  background-color: #fae350;
  color: black;
  text-align: center;
  font-weight: bolder;
}
